################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/src/v14
/packages
/src/bin
/src/obj/Debug
/src/node_modules
/.vs/Angular2.Test.ChuckNorris/v14
