################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/src/v14
/packages
/src/bin
/src/obj/Debug
/src/node_modules
/.vs/Angular2.Test.ChuckNorris/v14
src/app/jokes/joke-list.component.js
src/app/jokes/joke-list.component.js.map
src/app/jokes/joke.js
src/app/jokes/joke.js.map
src/app/jokes/joke.service.js
src/app/jokes/joke.service.js.map
src/app/jokes/jokes.module.js
src/app/jokes/jokes.module.js.map
src/app/jokes/jokesResponse.js
src/app/jokes/jokesResponse.js.map
src/app/main.js
src/app/main.js.map
src/app/jokes/joke.service-simple.js
src/app/jokes/joke.service-simple.js.map
/src/app/facts/category.js
/src/app/facts/category.js.map
/src/app/facts/factsResponse.js.map
/src/app/facts/factsResponse.js
/src/app/facts/facts.service.js.map
/src/app/facts/facts.service.js
/src/app/facts/facts.service-simple.js.map
/src/app/facts/facts.service-simple.js
/src/app/facts/facts.module.js.map
/src/app/facts/facts.module.js
/src/app/facts/facts-list.component.js.map
/src/app/facts/facts-list.component.js
/src/app/facts/fact.js.map
/src/app/facts/fact.js
/src/app/facts/categoryResponse.js.map
/src/app/facts/categoryResponse.js
/src/app/facts/category-selection.component.js.map
/src/app/facts/category-selection.component.js
src/app/facts/facts.component.js
src/app/facts/facts.component.js.map
/src/app/shared/capitalization.pipe.js.map
/src/app/shared/capitalization.pipe.js
